<h1>Log in:</h1>
<form class="" action="/login" method="post">
<label>
<label>Username:
<input type="input" name="username" value=""></label><br>
<label>Password:
 <input type="input" name="password" value=""></label><br>
 <input type="submit" value="Log in" id="submit">
</form>
<p>Don't have an account yet? <a href="/signup">Signup</a></p>
