<h1>Welcome, <%=@user.username %></h1>
<form class="" action="/tweets/<%=@tweet.id.to_s%>" method="post">
  <input type="input" name="content" value="<%= @tweet.content %>">
  <input type="submit" id="submit" value="Edit Tweet">
</form>
