<h1>Welcome, <%=@user.username %></h1>
<form class="" action="/tweets" method="post">
  <input type="input" name="content" value="">
  <input type="submit" name="submit" id="submit" value="Create new tweet">
</form>
