<h1>Welcome, <%= current_user.username %></h1>
<form class="" action="/images" method="post">
  <label> Title:
  <input type="input" name="name" value="">
  </label><br>
  <label> Source code:
  <textarea name="src" style="width:100%" rows="10">
  </textarea>
  </label><br>
  <input type="submit" value="Create new image">
</form>

<p><a href="/images">Show all images</a></p>
