<h1>Welcome, <%=@user.username %></h1>
<form class="" action="/images" method="post">
  <label> Title:
  <input type="input" name="name" value="">
  </label><br>
  <label> Source code:
  <textarea name="src">
  </textarea>
  </label><br>
  <input type="submit" value="Create new image">
</form>
