<!DOCTYPE html>
<html>
<header>
</header>
<body>

<canvas id="myimage" width="600" height="600" style="border:1px solid black;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
var ctx=document.getElementById("myimage").getContext("2d");
var imgdata=ctx.getImageData(0,0,600,600);

function pt(x,y){
  imgdata[(y*600+x)*4]=128;
  imgdata[(y*600+x)*4+1]=128;
  imgdata[(y*600+x)*4+2]=128;
  imgdata[(y*600+x)*4+3]=255;
}

for(var i=0;i<20;i++){
pt(i*10,i*i);
}

ctx.putImageData(imgdata,0,0);
</script>


</body>
</html>
